---
import Layout from "../../layouts/Layout.astro";
import { getAllPosts, getPostBySlug } from "../../lib/contentApi";



const allPosts = await getAllPosts();
return allPosts.map((node) => {
  return {
    params: { slug: node.slug },
    props: { source: node.source },
  };
});


const { slug } = Astro.params;
const { source } = Astro.props;

const post = await getPostBySlug(slug, source);
---

<Layout title={post.title}>
  <a href="/">&larr; Back</a>
  <div class="flex flex-col p-10">
    <div class="mb-5 text-4xl font-bold">{post.title}</div>
    <article class="prose lg:prose-xl">
      <Fragment set:html={post.content} />
    </article>
  </div>
</Layout>
