---
import { isValidHttpUrl } from "../lib/helpers";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { getPostPreviews } from "../lib/contentApi";
const postPreviews = await getPostPreviews();

//console.log("postPreviews:", postPreviews);
---

<Layout title="Welcome to Astro.">
  <main class="container mx-auto p-6">
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <p class="instructions bg-white">
      Using Astro to pull data using <code>GraphQL</code> from both <code
        >WordPress</code
      > and <code>Contentful</code>.
    </p>
    <ul
      role="list"
      class="grid grid-cols-[repeat(auto-fit,_minmax(24ch,_1fr))] gap-4"
    >
      {
        postPreviews.map((post) => {
          return (
            <Card
              href={
                isValidHttpUrl(post.slug) ? post.slug : `/posts/${post.slug}`
              }
              title={post.title}
              body={post.excerpt}
              source={post.source}
            />
          );
        })
      }
    </ul>
  </main>
</Layout>
