---
import { isValidHttpUrl } from "../lib/helpers";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { getPostPreviews } from "../lib/contentApi";
const postPreviews = await getPostPreviews();

//console.log("postPreviews:", postPreviews);
---

<Layout title="Welcome to Astro.">
  <main class="container mx-auto p-6">
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <p class="instructions">
      Using Astro to pull data via <code>GraphQL</code> from both <code
        >WordPress</code
      > and <code>Contentful</code>.<br />
    </p>
    <ul role="list" class="link-card-grid">
      {
        postPreviews.map((post) => {
          return (
            <Card
              href={
                isValidHttpUrl(post.slug) ? post.slug : `/posts/${post.slug}`
              }
              title={post.title}
              body={post.excerpt}
            />
          );
        })
      }
    </ul>
  </main>
</Layout>
